/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 div.post {
    position: relative;
    margin-left: 10em;
    padding: 2em;
    background: url(http://planet.gnome.org/img/bubble/post_topbg.png) center top repeat-x, url(http://planet.gnome.org/img/bubble/post_bottombg.png) center bottom repeat-x;
    box-shadow: 0 0 4px rgba(50, 50, 50, 0.25);
    border: 1px solid rgb(192, 192, 192);
    border-radius: 10px;
    margin-top: 10px;
 }
 .post-contents{
     background: white;
 }
 .post-footer {
     margin-top: 1em;
 }
 /* Hiding the checkbox, but allowing it to be focused */
.badgebox
{
    opacity: 0;
}

.badgebox + .badge
{
    /* Move the check mark away when unchecked */
    text-indent: -999999px;
    /* Makes the badge's width stay the same checked and unchecked */
	width: 27px;
}

.badgebox:focus + .badge
{
    /* Set something to make the badge looks focused */
    /* This really depends on the application, in my case it was: */
    
    /* Adding a light border */
    box-shadow: inset 0px 0px 5px;
    /* Taking the difference out of the padding */
}

.badgebox:checked + .badge
{
    /* Move the check mark back when checked */
	text-indent: 0;
}
.btn-amor {
    color: #fff;
    background-color: #E71096;
    border-color: #E71096;
}
.btn-honestidad {
    color: #fff;
    background-color: #A3C5E9;
    border-color: #A3C5E9;
}
.btn-responsabilidad {
    color: #fff;
    background-color: #C3E76A;
    border-color: #C3E76A;
}
.btn-generosidad {
    color: #fff;
    background-color: #00509C;
    border-color: #00509C;
}
.btn-union {
    color: #fff;
    background-color: #D2527F;
    border-color: #D2527F;
}
.btn-respeto {
    color: #fff;
    background-color: #ECA45C;
    border-color: #ECA45C;
}
.btn-benedicencia {
    color: #fff;
    background-color: #C5A6E2;
    border-color: #C5A6E2;
}
form .counter{
	position:absolute;
	right:0;
	top:0;
	font-size:20px;
	font-weight:bold;
	color:#ccc;
}
form .warning{color:#600;}	
form .exceeded{color:#e00;}